body {
    font-family: Garamond;
    background-color: #2b2b2c;
}

#chat {
    border-radius: 25px;
    margin-left: 70em;
    width: 25em;
    height: 35em;
    margin-top: 8em;
    background-color: #ffffff;
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
}

.header {
    height: 75px;
    width: auto;
    border-radius: 25px 25px 0 0;
    background-color: #0202dd;
}

.logo {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 12px;
    margin-left: 10px;
    border-radius: 50%;
}

h1 {
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    font-size: 30px;
    float: left;
}

.close {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 25px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

#chatbody {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    overflow: auto;
    height: calc(71.2vh - (50px + 50px));
}

.botText {
    color: #292929;
    font-family: monospace;
    font-size: 12px;
    text-align: left;
    line-height: 30px;
    width: auto;
}

.botText span {
    background-color: #cdcfd1;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px 25px 25px 25px;
}

.userText {
    color: white;
    font-family: monospace;
    font-size: 12px;
    text-align: right;
    line-height: 30px;
}

.userText span {
    background-color: #0202dd;
    padding: 10px;
    margin-right: 10px;
    border-radius: 25px 5px 25px 25px;
}

hr {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    height: 50px;
    width: auto;
    border-width: 15px;
    border-radius: 0 0 25px 25px;
    background-color: #ffffff;
}

#textInput {
    width: 350px;
    height: 25px;
    border: none;
    color: #000000;
    font-family: monospace;
    font-size: 20px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 5px;
}

#buttonInput {
    margin-left: -5px;
    font-family: monospace;
    font-size: 17px;
    border:none;
    background: none;
    cursor: pointer;
    margin-top: 5px;
}

#send {
    width: 20px;
    height: 20px;
}

.chaticon {
    width: 30px;
    height: 30px; 
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    margin-top: 42%;
    right: 10px;
    bottom: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
